.center-title-header{
    padding: 40px var(--main-padd);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    /* z-index: 1; */
}

.center-title-header__column{
    width: 33%;
}

.center-title-header__column:first-child{
    margin-right: auto;
}

.center-title-header__column:nth-child(2){
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.center-title-header__column:last-child{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.center-title-header__column span:last-child{
    margin-left: 15px;
}
